/* You can add global styles to this file, and also import other style files */
/* *{
    box-sizing: border-box;
    
}  
.pre h1{
    text-align: center;
}
.pre ul{
    margin-left: 200px;
    font-size: 1.6em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */